.dashboard-container {
  display: flex;
  flex-direction: row;

  .panel {
    width: 20%;
    background-color: $gray-200;
    height: 100vh;
    flex-direction: column;
    display: flex;

    .header {
      height: 3rem;
      background-color: $gray-900;

      .content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-left: 5%;
        margin-right: 5%;
        color: white;
        width: 85%;
        height: 100%;

        .icon {
          flex: 0.15;
          text-align: center;
        }

        .app-name {
          flex: 0.7;
          text-align: center;
        }
      }
    }

    .content {
      flex-grow: 1;
      overflow-y: auto;

      .content-header {
        justify-content: space-between;
        display: flex;
        height: 4rem;

        .header-item {
          background-color: blue;
          width: 100%;
          height: 100%;
          text-align: center;
        }
        .header-item-active {
          background-color: white;
          width: 100%;
          height: 100%;
          text-align: center;
          border-bottom: 5px solid black;
        }
      }

      .content-settings {
        background-color: red;
      }
    }

    .footer {
      height: 3rem;
      background-color: $gray-900;

      .content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        display: flex;
        margin-left: 5%;
        margin-right: 5%;
        color: white;
        width: 85%;
        height: 100%;

        .publish,
        .history {
          flex: 0.5;
          text-align: center;
        }
      }
    }
  }

  .canvas {
    width: 80%;
    height: 100vh;
    background-color: $gray-100;
    .creator-container {
      margin-left: 25vw;
      margin-right: 25vw;
      margin-top: 2rem;
      border: 3px dashed $gray-700;
      padding: 1rem;
      justify-content: center;
      text-align: center;
      border-radius: 20px;
      .icon {
        font-size: 12px;
        text-align: center;
        justify-content: center;

        svg {
          border-radius: 50%;
          padding: 15px;
          background-color: $gray-700;
        }
        svg:hover {
          opacity: 0.7;
          -moz-transition: opacity 1s; /* Firefox */
          -webkit-transition: opacity 1s; /* Safari and Chrome */
          -o-transition: opacity 1s; /* Opera */
          transition: opacity 1s;
        }
      }
      .text {
        font-size: 15px;
      }
    }
  }
}
