.container {
  padding: $spacer * 3 $spacer * 3;
  background-color: $white;
  border: 1px solid $light-gray;
  border-radius: 20px;
}

.container-auth {
  background-color: $white;
  border: 1px solid $light-gray;
  border-radius: 20px;
}
