@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  font-family: 'Inter', sans-serif;
}

h1,
h2,
h3,
h4.h5,
h6,
p,
span,
table,
td,
th,
button,
input,
label,
textarea,
small,
a {
  color: $font-light;
}

p,
span,
label,
a,
button,
input, textarea {
  font-size: 12pt;
}

h1 {
  font-size: 32pt;
}

h2 {
  font-size: 28pt;
}

h3 {
  font-size: 24pt;
}
